// Copy the contents of this file to a new file called 'config.json'

{
  "username": "username",
  "password": "password",
  "hosts": [
    {
      "host": "host",
      "port": 1234
    }
  ],
  "database": "database",
  "options": {
    "authSource": "admin"
  }
}
